:root {
  /* Dark 4 */
  --color-dark: hsl(207, 93%, 6%);
  /* Dark 0 */
  --color-light: hsl(234, 100%, 96%);
  --color-fg: hsl(207, 88%, 10%);
  --color-primary: oklch(53.5% 0.22 345.06);
  --color-focus: var(--color-fg);
  --font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --ratio: 1.33;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

body {
  padding: 1.5rem;
}

a {
  --color: currentColor;
  --underline-color: var(--color-primary);
  color: var(--color);
  text-decoration-color: var(--underline-color);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

a:hover {
  --color: var(--color-primary);
  --underline-color: var(--color);
}

a:focus-visible {
  outline: 4px dotted currentColor;
  outline-offset: 0.25rem;
}

main > * + *,
section > * + * {
  margin-block-start: var(--flow-space, 1em);
}

main {
  --flow-space: 4em;
  margin-inline: auto;
  max-inline-size: 70ch;
}

article {
  --flow-space: 2em;
}

h1 {
  font-size: calc(1rem * var(--ratio) * 3);
  line-height: 1.3;
}

h2 {
  font-size: calc(1rem * var(--ratio) * 2);
  line-height: 1.3;
}

h3 {
  font-size: calc(1rem * var(--ratio));
  line-height: 1.3;
}

p {
  font-size: 1.25rem;
}

small {
  font-size: 1rem;
  font-style: italic;
}

hr {
  margin-inline: 0;
  border-top: none;
  border-bottom-width: var(--rule-thickness, 0.2ex);
}
