---
import Fields from "@/components/Fields.astro";
import Tags from "@/components/Tags.astro";
import wasm from "/node_modules/md4w/js/md4w-small.wasm?url";

const props = Astro.props;
---

<tt-article {...props} role="article">
  <md-context href={wasm}>
    <slot />
  </md-context>
</tt-article>

<template id="tt-article-template">
  <h2 id="title"></h2>
  <Fields>
    <Tags data={["tag"]} />
  </Fields>
  <md-content></md-content>
</template>

<script>
  import "@/webcomponents/TooltipArticle";
  import "@/webcomponents/MarkdownContext";
  import "@/webcomponents/MarkdownContent";
</script>
