---
import Icon from "@components/Icon.astro";
import Invader from "@/assets/images/icons/Invader.svg";
import Button from "@/components/Button.astro";
import Balloon from "@/components/Balloon.astro";
import Layout from "@/layouts/Layout.astro";

const title = "Not found";
---

<Layout title={title}>
  <h1>Uhm...Not found</h1>
  <!-- Set the first quote in case JS is disabled -->
  <Balloon><random-quote></random-quote></Balloon>
  <Icon src={Invader.src} viewBox={`0 0 ${Invader.width} ${Invader.height}`} />

  <div class="actions">
    <Button as="a" href="/" class="primary">Go back</Button>
  </div>
</Layout>

<script>
  import "@/webcomponents/RandomQuote";
</script>

<style>
  h1 {
    text-align: center;
    margin-block: 9rem 7rem;

    &::after {
      content: none;
    }
  }

  .icon {
    height: auto;
    width: 142px;
    color: var(--color-pink-5);
    animation: 1s steps(3) 0s infinite alternate float-up;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  .actions {
    justify-content: center;
    margin-block-start: 8rem;
  }
</style>
