---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import Newsletters from "@/components/uses/Newsletters.astro";
import Blogs from "@/components/uses/Blogs.astro";
---

<Layout title="Blogroll">
  <h1>Blogroll</h1>

  <article>
    <Section id="blogs">
      <h2 slot="title">Blogs</h2>
      <Blogs />
    </Section>

    <Section id="newsletters">
      <h2 slot="title">Newsletters</h2>
      <Newsletters />
    </Section>
  </article>

  <style>
    section {
      margin-block-end: 4rem;
    }
  </style>
</Layout>
