---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Blogroll">
  <h1>Blogroll</h1>

  <article>
    <Section id="blogs">
      <h2 slot="title">Blogs</h2>
      <ul>
        <li><a href="https://www.stefanjudis.com/blog/">Stefan Judis</a></li>
        <li><a href="https://chriscoyier.net/">Chris Coyier</a></li>
        <li><a href="https://www.joshwcomeau.com/latest/">Josh Comeau</a></li>
        <li>
          <a href="https://joshcollinsworth.com/blog">Josh Collinsworth</a>
        </li>
        <li><a href="https://ryanmulligan.dev/blog/">Ryan Mulligan</a></li>
        <li><a href="https://nerdy.dev/">Adam Argyle</a></li>
      </ul>
    </Section>

    <Section id="newsletters">
      <h2 slot="title">Newsletters</h2>
      <ul>
        <li>
          <a href="https://changelog.com/news/">The Changelog Newsletter</a>
        </li>
        <li><a href="https://ui.dev/">ui.dev</a></li>
        <li><a href="https://webweekly.email/">Web Weekly</a></li>
        <li><a href="https://codepen.io/spark">CodePen Spark</a></li>
      </ul>
    </Section>
  </article>

  <style>
    section {
      margin-block-end: 4rem;
    }
  </style>
</Layout>
