---
import Layout from "@/layouts/Layout.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
---

<Layout title="Károly-Török { developer: full-stack; }">
  <hgroup>
    <h1>
      Hello<br />Szia<wbr />
      <span class="phonetic">[&#712;sij&#594;]</span>
    </h1>
    <Section id="hello" expandable>
      <p>
        My name is Károly Török. I'm a seasoned Full-stack Software Developer
        with a strong professional focus on web development and UX design. My
        professional endeavors frequently involve working with technologies such
        as Java and JavaScript, as I'm deeply dedicated to crafting exceptional
        web experiences.
      </p><p>
        Beyond the professional realm, I maintain a diverse range of interests
        and activities, including fitness, culinary arts, baking, and, of
        course, the precious time spent with my family.
      </p>
    </Section>
  </hgroup>

  <article>
    <section class="grid">
      <Button as="a" class="secondary large" href="/blog">
        Learnt recently
      </Button>
      <Button as="a" class="secondary large" href="/mind-map">
        Things that i like
      </Button>
      <Button as="a" class="secondary large" href="/daily-drivers">
        How i work
      </Button>
      <Button as="a" class="secondary large" href="/about">
        More about me
      </Button>
    </section>
  </article>
</Layout>

<style>
  h1 {
    margin-block-end: 0;
  }

  .phonetic {
    /* https://github.com/system-fonts/modern-font-stacks#transitional */
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  }

  .grid {
    font-family: "Silkscreen", monospace;
    margin-block: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));

    > .secondary {
      text-decoration: none;
    }
  }
</style>
