---
import Layout from "@/layouts/Layout.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
---

<Layout title="Károly-Török { developer: full-stack; }">
  <h1>
    Hello<br />Szia<wbr />
    <span class="phonetic">[&#712;sij&#594;]</span>
  </h1>
  <Section id="hello" expandable>
    <p>
      My name is Károly Török. I'm a seasoned Full-stack Software Developer with
      a strong professional focus on web development and UX design. My
      professional endeavors frequently involve working with technologies such
      as Java and JavaScript, as I'm deeply dedicated to crafting exceptional
      web experiences.
    </p><p>
      Beyond the professional realm, I maintain a diverse range of interests and
      activities, including fitness, culinary arts, baking, and, of course, the
      precious time spent with my family.
    </p>
  </Section>
  <div class="grid">
    <Button as="a" class="secondary" href="/blog">Learnt recently</Button>
    <Button as="a" class="secondary" href="/about">More about me</Button>
    <Button as="a" class="secondary" href="/mind-map">
      Things that i like
    </Button>
  </div>
</Layout>

<style>
  h1 {
    position: relative;
    margin-block-end: 3rem;
  }

  .phonetic {
    /* https://github.com/system-fonts/modern-font-stacks#transitional */
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  }

  .grid {
    font-family: "Silkscreen", monospace;
    margin-block: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));

    > a {
      span {
        padding: 2em;
      }
      text-decoration: none;
    }
  }
</style>
