---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Károly Török">
  <h1>
    Hello <br /> Szia<wbr /> /<span class="phonetic">&#712;sij&#594;</span>/
  </h1>
  <Section id="hello" expandable>
    <h2 slot="title"></h2>
    <p>
      My name is Károly Török. I'm a seasoned Full-stack Software Developer with
      a strong professional focus on web development and UX design. My
      professional endeavors frequently involve working with technologies such
      as Java and JavaScript, as I'm deeply dedicated to crafting exceptional
      web experiences.
    </p><p>
      Beyond the professional realm, I maintain a diverse range of interests and
      activities, including fitness, culinary arts, baking, and, of course, the
      precious time spent with my family.
    </p>
  </Section>
  <div class="grid">
    <a href="/blog">Learnt recently</a>
    <a href="/about">More about me</a>
    <a href="/mind-map">Things that i like</a>
  </div>
</Layout>

<style>
  h1 {
    position: relative;
  }

  .phonetic {
    font-family: system-ui, sans-serif;
  }

  .grid {
    font-family: "Silkscreen", monospace;
    margin-block: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));

    > a {
      position: relative;
      padding: 2em;
      background: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);
      text-decoration: none;

      &:before,
      &::after {
        position: absolute;
        content: "";
        z-index: -1;
        background: inherit;
      }

      &:before {
        inset-block: -2px;
        inset-inline: 4px;
      }

      &:after {
        inset-block: 4px;
        inset-inline: -2px;
      }

      &:hover {
        outline-offset: var(--button-outline-offset);
        outline-color: var(--color-button-secondary-bg);
        outline-style: dashed;
      }
    }
  }
</style>
