---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Section from "../components/Section.astro";
---

<Layout title="Károly Török">
  <Header />

  <Main>
    <h1 slot="title">Hello!</h1>
    <Section id="hello" expandable>
      <p>
        I am Károly Török, a seasoned Full-stack Software Developer with a
        strong professional focus on web development and UX design. My
        professional endeavors frequently involve working with technologies such
        as Java and JavaScript, as I'm deeply dedicated to crafting exceptional
        web experiences.
      </p><p>
        Beyond the professional realm, I maintain a diverse range of interests
        and activities, including fitness, culinary arts, baking, and, of
        course, the precious time spent with my family.
      </p>
    </Section>
  </Main>
  <Footer/>

</Layout>

  <style>
    h1 {
      position: relative;
    }
    <!-- h1::after { -->
    <!--   content: ""; -->
    <!--   position: absolute; -->
    <!--   left: -0.3em; -->
    <!--   bottom: 0.1em; -->
    <!--   width: 0.4em; -->
    <!--   border-bottom: 0.1em solid var(--primary); -->
    <!-- } -->
    <!-- h1::before { -->
    <!--   content: ""; -->
    <!--   position: absolute; -->
    <!--   left: -0.15em; -->
    <!--   bottom: -0.05em; -->
    <!--   height: 0.4em; -->
    <!--   border-left: 0.1em solid var(--primary); -->
    <!-- } -->
  </style>
