---
import Section from "@/components/Section.astro";
import Podcasts from "@/components/uses/Podcasts.astro";
import Channels from "@/components/uses/Channels.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Podroll">
  <h1>Podroll</h1>

  <article>
    <Section id="podcasts">
      <h2 slot="title">Podcasts</h2>
      <Podcasts />
    </Section>

    <Section id="youtube">
      <h2 slot="title">Youtube</h2>
      <Channels />
    </Section>
  </article>

  <style>
    section {
      margin-block-end: 4rem;
    }
  </style>
</Layout>
