---

---

<div class="fields">
  <slot />
</div>

<style>
  .fields {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    margin-block: 6px;
    padding-inline: 6px;
  }
</style>
