---

---

<div class="fields">
  <slot />
</div>

<style>
  .fields {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-sm);
    margin-block: var(--space-xs);
    padding-inline: var(--space-xs);
  }
</style>
