---
import invaderImage from "../assets/images/invader.svg?url";
import Menu from "./Menu.astro";
import Icon from "./Icon.astro";
---

<header>
  <nav>
    <a href="/">
      <Icon
        class="logo"
        src={invaderImage}
        title="Space invader alien"
        viewBox="0 0 30 15"
      />
    </a>
    <Menu />
  </nav>
</header>

<style>
  header {
    grid-column: content;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      fill: var(--color-pink-0);
      width: 50px;
      height: 40px;
    }
  }
</style>
