---
import Me from "@/assets/images/icons/Me.svg";
import Menu from "./Menu.astro";
import Icon from "astro-svg-icon";
---

<header>
  <nav>
    <a href="/">
      <span class="visually-hidden">Navigate to Home</span>
      <Icon
        class="logo"
        src={Me.src}
        title="Profile of Károly in a pixelated character universe"
        viewBox={`0 0 ${Me.width} ${Me.height}`}
      >
        <filter id="hero-filter"
          ><feTurbulence
            id="turbulence"
            baseFrequency="0.05"
            numOctaves="2"
            type="turbulence"
            seed="0"></feTurbulence>
          <feDisplacementMap
            id="displacement"
            in="SourceGraphic"
            in2="turbulence"
            scale="0"></feDisplacementMap>
        </filter>
        <animate
          xlink:href="#turbulence"
          attributeName="seed"
          dur="30s"
          values="0; 10; 50; 0"
          keyTimes="0; 0.9; 0.95; 1"
          repeatCount="indefinite"
          fill="freeze"></animate>
        <animate
          xlink:href="#displacement"
          attributeName="scale"
          dur="30s"
          values="0; 0; 2; 0"
          keyTimes="0; 0.9; 0.95; 1"
          repeatCount="indefinite"
          fill="freeze"></animate>
      </Icon>
    </a>
    <Menu />
  </nav>
</header>

<style>
  header {
    grid-column: content;
    container: header / inline-size;
    margin-block: 2.25rem 3rem;

    > nav {
      display: flex;
      flex-flow: row wrap;
      gap: var(--gap);
      justify-content: space-between;
      align-items: center;
    }

    a {
      & .logo {
        color: var(--color-logo);
        height: 2.5rem;
        width: auto;
        vertical-align: middle;
        transform: rotate(-15deg);
        filter: url(#hero-filter);

        @media (prefers-reduced-motion: reduce) {
          filter: none;
        }
      }
    }
  }
</style>
