---
import { Image } from "astro:assets";
import invaderImage from "../assets/images/invader.svg";
import Menu from "./Menu.astro";
---

<header>
  <nav>
    <a href="/">
      <Image
        class="logo"
        src={invaderImage}
        alt="Space invader alien"
        height="35"
      />
    </a>
    <Menu />
  </nav>
</header>

<style>
  header {
    grid-column: content;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
