---
import invaderImage from "../assets/images/icons/Invader.svg?url";
import Menu from "./Menu.astro";
import Icon from "./Icon.astro";
---

<header>
  <nav>
    <a href="/">
      <Icon
        class="logo"
        src={invaderImage}
        title="Space invader alien"
        viewBox="0 0 27 19"
      />
    </a>
    <Menu />
  </nav>
</header>

<style>
  header {
    grid-column: content;
    container: header / inline-size;
    margin-block: 2.25rem;

    > nav {
      display: flex;
      flex-flow: row wrap;
      gap: var(--gap);
      justify-content: space-between;
      align-items: center;
    }

    & .logo {
      color: var(--color-logo);
      height: 2rem;
      width: auto;
      vertical-align: middle;
    }
  }
</style>
