---
import type { Polymorphic } from "astro/types";

type Input = "input" | "textarea";

type Props<Tag extends Input = "input"> = Polymorphic<{
  as: Tag;
  "wrapper-class"?: string;
}>;

const {
  "wrapper-class": wrapperClass,
  as: Tag = "input",
  ...props
} = Astro.props;
---

<div class:list={["input-wrapper", wrapperClass]}>
  <slot />
  <Tag {...props} />
</div>
