---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const { class: className, ...rest } = Astro.props;
---

<button class:list={["input-button", className]} {...rest}>
  <slot />
</button>

<style>
  button {
    --_border-color: var(--color-input-border);
    --_text-color: var(--color-input-text);
    position: relative;
    height: 38px;
    font-family: "Silkscreen";
    color: var(--_text-color);
    border: var(--input-border-size) solid var(--_border-color);
    background: var(--color-input-bg);
    line-height: 1;
    text-align: left;
    padding: 2px 4px;
    cursor: pointer;

    > .icon {
      color: var(--_border-color);
      vertical-align: middle;
      margin-inline-end: 6px;
    }

    &:before,
    &::after {
      position: absolute;
      content: "";
      background: var(--_border-color);
      z-index: -1;
    }

    &:before {
      inset-block: calc(var(--input-border-size) * -1 - 1px);
      inset-inline: 0px;
    }

    &:after {
      inset-block: 0px;
      inset-inline: calc(var(--input-border-size) * -1 - 2px);
    }

    &:hover {
      --_border-color: var(--color-teal-1);
      --_text-color: var(--color-title);
    }
  }
</style>
