---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const { class: className, ...rest } = Astro.props;
---

<button class:list={["input-button", className]} {...rest}>
  <slot />
</button>

<style>
  button {
    --_border-color: var(--color-input-border);
    --_text-color: var(--color-input-text);
    position: relative;
    height: var(--input-height);
    font-family: var(--font-mono);
    font-size: var(--font-mono-size-s);
    color: var(--_text-color);
    border: var(--input-border-size) solid var(--_border-color);
    background: var(--color-input-bg);
    line-height: 1;
    text-align: left;
    padding: var(--input-padding);

    &:before,
    &:after {
      position: absolute;
      content: "";
      background: var(--_border-color);
      z-index: -1;
    }

    &:before {
      inset-block: calc(var(--input-border-size) * -1 - 1px);
      inset-inline: 0px;
    }

    &:after {
      inset-block: 0px;
      inset-inline: calc(var(--input-border-size) * -1 - 2px);
    }

    &:hover {
      --_border-color: var(--color-input-border-hl);
      --_text-color: var(--color-title);
    }
  }
</style>
