---
const currentPath = Astro.url.pathname;
---

<menu>
  <li>
    <a class:list={[{ active: currentPath.startsWith("/blog") }]} href="/blog"
      >Blog</a
    >
  </li>
  <li>
    <a class:list={[{ active: currentPath.startsWith("/about") }]} href="/about"
      >About</a
    >
  </li>
</menu>

<style>
  menu {
    font-variation-settings: "CASL" 1;
    font-size: var(--p);
    font-family: "Silkscreen";
    display: flex;
    gap: var(--gap);
    list-style: none;
    li {
      list-style: none;
    }
  }

  a {
    text-shadow: 1px 1px 0px var(--color-link-shadow);
    &:hover:not(.active) {
      text-decoration-style: dashed;
    }
    &.active {
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }
  }
</style>
