---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<ul>
  <li>
    <a class:list={[{ active: currentPath === "about" }]} href="/about">About</a
    >
  </li>
</ul>

<style>
  ul {
    font-family: "Silkscreen";
    display: flex;
    gap: var(--gap);
    list-style: none;
    li {
      list-style: none;
    }
  }

  a {
    text-shadow: 1px 1px 0px var(--color-link-shadow);
    &:hover:not(.active) {
      text-decoration-style: dashed;
    }
    &.active {
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }
  }
</style>
