---
import MenuButton from "./MenuButton.astro";
const currentPath = Astro.url.pathname;
---

<MenuButton
  aria-haspopup="menu"
  aria-controls="main-menu"
  aria-expanded="false"
  title="Toggle menu"
/>
<menu id="main-menu">
  <li>
    <a
      class:list={[{ active: currentPath.endsWith("/blog/") }]}
      href="/blog/"
      data-astro-prefetch>Blog</a
    >
  </li>
  <li>
    <a
      class:list={[{ active: currentPath.startsWith("/tooltips/") }]}
      href="/tooltips/"
      data-astro-prefetch>Tips</a
    >
  </li>
  <li>
    <a
      class:list={[{ active: currentPath.startsWith("/uses/") }]}
      href="/uses/"
      data-astro-prefetch>Uses</a
    >
  </li>
  <li>
    <a
      class:list={[{ active: currentPath.startsWith("/about/") }]}
      href="/about/"
      data-astro-prefetch>About</a
    >
  </li>
</menu>

<style>
  menu {
    flex: 1 0 100%;
    display: none;
    flex-flow: column wrap;
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 0.12em;
    gap: 1.5em;
    padding: 0;
    margin-block: 2rem 0;
    list-style: none;
    text-align: center;
    > li {
      list-style: none;
      margin: 0;
    }
  }

  button {
    min-block-size: revert;
    min-inline-size: revert;
    padding: 0;

    &[aria-expanded="true"] {
      ~ menu {
        display: flex;
      }
    }

    &:before,
    &::after {
      content: none;
    }
  }

  a {
    color: var(--color-menu);
    text-shadow: 1px 1px 0px var(--color-menu-shadow);
    white-space: nowrap;
    text-decoration: none;
    transition: background-color var(--menu-transition-duration)
      var(--menu-transition-easing);
    padding-inline: 2px;
    &:hover {
      background-color: var(--color-menu-bg);
    }
    &.active {
      text-decoration-color: currentColor;
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  @container header (width > 50ch) {
    menu {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 auto;
      margin: 0;
    }

    button {
      &[aria-expanded] {
        display: none;
      }
    }
  }
</style>
