---
const currentPath = Astro.url.pathname;
---

<menu>
  <li>
    <a class:list={[{ active: currentPath.startsWith("/blog") }]} href="/blog"
      >Blog</a
    >
  </li>
  <li>
    <a
      class:list={[{ active: currentPath.startsWith("/mind-map") }]}
      href="/mind-map">Mind-map</a
    >
  </li>
  <li>
    <a class:list={[{ active: currentPath.startsWith("/about") }]} href="/about"
      >About</a
    >
  </li>
</menu>

<style>
  menu {
    font-variation-settings: "CASL" 1;
    font-family: "Silkscreen", monospace;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
    list-style: none;
    margin-block: 2.25rem;
    > li {
      list-style: none;
      margin: 0;
    }
  }

  @container header (width > 30ch) {
    menu {
      flex-direction: row;
    }
  }

  a {
    text-shadow: 1px 1px 0px var(--color-link-shadow);
    white-space: nowrap;
    &:hover:not(.active) {
      text-decoration-style: dashed;
    }
    &.active {
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }
  }
</style>
