---
// Credits to ahmadbassamemran for the menu animation
//  - https://codepen.io/ahmadbassamemran/pen/VQwPGr
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const props = Astro.props;
---

<menu-button
  {...props}
  role="button"
  tabindex="0"
  $click="onClick"
  $keydown="onKeyDown"
>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="visually-hidden">Toggle menu</span>
</menu-button>

<script>
  import "@/webcomponents/MenuButton";
</script>

<style>
  menu-button {
    --_size: 25px;
    --_dot-size: 5px;
    --_step: 2;
    --_left: calc(var(--_dot-size) * var(--_step));
    --_top: calc(var(--_dot-size) * var(--_step));
    display: inline-block;
    height: var(--_size);
    position: relative;
    background: none;
    border: 0;
    width: var(--_size);
    transition: 100ms;

    > .dot {
      display: block;
      position: absolute;
      width: var(--_dot-size);
      height: var(--_dot-size);
      background-color: var(--color-button-menu);

      &:nth-of-type(1) {
        left: 0;
        top: 0;
      }

      &:nth-of-type(2) {
        left: var(--_left);
        top: 0;
      }

      &:nth-of-type(3) {
        right: 0;
        top: 0;
      }

      &:nth-of-type(4) {
        left: 0;
        top: var(--_top);
      }

      &:nth-of-type(5) {
        position: absolute;
        left: var(--_left);
        top: var(--_top);
      }

      &:nth-of-type(6) {
        right: 0;
        top: var(--_top);
      }

      &:nth-of-type(7) {
        left: 0;
        bottom: 0;
      }

      &:nth-of-type(8) {
        position: absolute;
        left: var(--_left);
        bottom: 0;
      }

      &:nth-of-type(9) {
        right: 0;
        bottom: 0;
      }
    }

    &[aria-expanded="true"] {
      transform: rotate(180deg);
      cursor: pointer;
      transition: 200ms cubic-bezier(0.83, 0, 0.17, 1);

      > .dot {
        transition-delay: 200ms;
        transition: 200ms cubic-bezier(0.83, 0, 0.17, 1);

        &:nth-of-type(2) {
          left: calc(var(--_dot-size) * 1);
          top: calc(var(--_dot-size) * 1);
        }

        &:nth-of-type(4) {
          left: calc(var(--_dot-size) * 1);
          top: calc(var(--_dot-size) * 3);
        }

        &:nth-of-type(6) {
          right: calc(var(--_dot-size) * 1);
          top: calc(var(--_dot-size) * 1);
        }

        &:nth-of-type(8) {
          left: calc(var(--_dot-size) * 3);
          bottom: calc(var(--_dot-size) * 1);
        }
      }
    }

    > .icon {
      vertical-align: middle;
      height: 2rem;
      width: 2rem;
    }
  }
</style>
