---
---

<div class="grid">
  <div class="box" style="--color: var(--color-yellow-0)"></div>
  <div class="box" style="--color: var(--color-yellow-1)"></div>
  <div class="box" style="--color: var(--color-yellow-2)"></div>
  <div class="box" style="--color: var(--color-yellow-3)"></div>
  <div class="box" style="--color: var(--color-yellow-4)"></div>
  <div class="box" style="--color: var(--color-yellow-5)"></div>
  <div class="box" style="--color: var(--color-yellow-6)"></div>
  <div class="box" style="--color: var(--color-yellow-7)"></div>
  <div class="box" style="--color: var(--color-yellow-8)"></div>
  <div class="box" style="--color: var(--color-yellow-9)"></div>

  <div class="box" style="--color: var(--color-pink-0)"></div>
  <div class="box" style="--color: var(--color-pink-1)"></div>
  <div class="box" style="--color: var(--color-pink-2)"></div>
  <div class="box" style="--color: var(--color-pink-3)"></div>
  <div class="box" style="--color: var(--color-pink-4)"></div>
  <div class="box" style="--color: var(--color-pink-5)"></div>
  <div class="box" style="--color: var(--color-pink-6)"></div>
  <div class="box" style="--color: var(--color-pink-7)"></div>
  <div class="box" style="--color: var(--color-pink-8)"></div>
  <div class="box" style="--color: var(--color-pink-9)"></div>

  <div class="box" style="--color: var(--color-teal-0)"></div>
  <div class="box" style="--color: var(--color-teal-1)"></div>
  <div class="box" style="--color: var(--color-teal-2)"></div>
  <div class="box" style="--color: var(--color-teal-3)"></div>
  <div class="box" style="--color: var(--color-teal-4)"></div>
  <div class="box" style="--color: var(--color-teal-5)"></div>
  <div class="box" style="--color: var(--color-teal-6)"></div>
  <div class="box" style="--color: var(--color-teal-7)"></div>
  <div class="box" style="--color: var(--color-teal-8)"></div>
  <div class="box" style="--color: var(--color-teal-9)"></div>

  <div class="box" style="--color: var(--color-dark-0)"></div>
  <div class="box" style="--color: var(--color-dark-1)"></div>
  <div class="box" style="--color: var(--color-dark-2)"></div>
  <div class="box" style="--color: var(--color-dark-3)"></div>
  <div class="box" style="--color: var(--color-dark-4)"></div>
</div>

<style>
  .grid {
    --box-size: 60px;
    display: grid;
    grid-template-columns: repeat(10, var(--box-size));
  }

  .box,
  .oklch {
    width: var(--box-size);
    aspect-ratio: 1;
  }

  .box {
    background-color: var(--color);
  }
</style>
