---
import type { HTMLAttributes } from "astro/types";
interface InExpandable {
  id?: string;
  expandable: false;
}

interface Expandable {
  id: string;
  title?: string;
  expandable: true;
}

type Props = InExpandable | Expandable;

// Yes, its only CSS
const { id = "", expandable } = Astro.props;
const readMoreInput = `${id.replace(/\s/gi, "-")}-read-more`;
---

<section>
  <slot name="title" />
  {
    expandable && (
      <input id={readMoreInput} class="read-more" type="checkbox" hidden />
    )
  }
  <div class:list={["text", { expandable }]}>
    <slot />
  </div>
  {
    expandable && (
      <label tabindex="0" class="read-more-label" for={readMoreInput} />
    )
  }
</section>

<style>
  .text.expandable {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: calc(var(--p-margin) * 0.5);
  }

  .read-more {
    & ~ .read-more-label {
      font-family: "Silkscreen";
      cursor: pointer;
      color: var(--color-link-secondary-text);

      &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-thickness: 2px;
      }
    }

    &:checked + .text {
      display: block;
      margin-bottom: 0;
    }

    &:checked ~ .read-more-label::before {
      content: "less...";
    }

    & ~ .read-more-label::before {
      content: "more...";
    }
  }
</style>
