---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"select">;

const props = Astro.props;
---

<div class="input-wrapper">
  <select {...props}>
    <slot />
  </select>
</div>
