---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"aside"> {
  name: string;
}

const { name, ...props } = Astro.props;
---

<aside {...props}>
  <h3>{name}</h3>
  <slot />
</aside>

<style>
  aside {
    --easing: cubic-bezier(0.65, 0, 0.35, 1);
    --transition-time: 500ms;
    position: absolute;
    inset: 0;
    overflow: auto;
    transition: all var(--transition-time) var(--easing) allow-discrete;
    font-size: 1rem;
    opacity: 1;
  }

  h3 {
    margin-block-start: 0;
  }

  @starting-style {
    aside {
      opacity: 0;
    }
  }
</style>
