---

---

<div class="subsection">
  <slot name="title" />
  <slot name="date" />
  <slot />
</div>

<style>
  .subsection {
    margin-bottom: 3rem;

    h3 {
      margin-block: 0 0.5rem;
    }

    p {
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 2rem;
      }
    }
  }
</style>
