---
import Icon from "./Icon.astro";
import TagIcon from "../assets/images/icons/Tag.svg?url";
---

<div class="tags">
  <Icon src={TagIcon} viewBox="0 0 14 14" />
  <ul>
    <slot />
  </ul>
</div>

<style>
  .tags {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      text-transform: uppercase;
      gap: 12px;
      padding: 0;
      margin: 0;

      color: var(--color-tertiary);
      font-size: 1rem;
      font-variation-settings: "MONO" 1;
      vertical-align: middle;

      li {
        margin: 0;
        list-style: none;
      }
    }
  }
</style>
