---
import Icon from "./Icon.astro";
import Calendar from "../assets/images/icons/Calendar.svg";

interface Props {
  type?: "contained" | "text";
  icon?: boolean;
}

const { type = "contained", icon } = Astro.props;
---

<div class:list={["temporal", type, icon && "adorned"]}>
  {
    icon && (
      <Icon
        src={Calendar.src}
        viewBox={`0 0 ${Calendar.width} ${Calendar.height}`}
      />
    )
  }
  <time>
    <slot />
  </time>
</div>

<style>
  .temporal {
    border-radius: var(--radius);
    color: var(--text);
    font-variation-settings: "MONO" 1;
    display: inline;

    &.contained {
      font-size: 0.85em;
      padding: 6px;
      background: var(--color-time-contained-bg);
      color: var(--color-time-contained-text);
    }

    &.text {
      > time {
        color: var(--color-tertiary);
      }
    }

    &.adorned {
      grid-column: span 2;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
</style>
