---
import Icon from "astro-svg-icon";
import Calendar from "@/assets/images/icons/Calendar.svg";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  type?: "contained" | "text";
  icon?: boolean;
}

const {
  type = "contained",
  icon,
  "aria-label": ariaLabel,
  class: className,
  ...props
} = Astro.props;
---

<div class:list={["temporal", type, icon && "adorned", className]} {...props}>
  {
    icon && (
      <Icon
        src={Calendar.src}
        viewBox={`0 0 ${Calendar.width} ${Calendar.height}`}
      />
    )
  }
  {ariaLabel && <span class="visually-hidden">{ariaLabel}</span>}
  <time>
    <slot />
  </time>
</div>

<style>
  .temporal {
    border-radius: var(--radius);
    color: var(--text);
    font-variation-settings: "MONO" 1;
    display: inline;

    .icon {
      height: 1lh;
    }

    &.contained {
      font-size: 0.85em;
      padding: 6px;
      background: var(--color-time-contained-bg);
      color: var(--color-time-contained-text);
    }

    &.text {
      > time {
        color: var(--color-tertiary);
      }
    }

    &.adorned {
      grid-column: span 2;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
</style>
