---
import Icon from "./Icon.astro";
import Calendar from "../assets/images/icons/Calendar.svg?url";

interface Props {
  type?: "contained" | "text";
  icon?: boolean;
}

const { type = "contained", icon } = Astro.props;
---

<div class:list={["temporal", type, icon && "adorned"]}>
  {icon && <Icon src={Calendar} viewBox="0 0 14 14" />}
  <time>
    <slot />
  </time>
</div>

<style>
  .temporal {
    border-radius: var(--radius);
    color: var(--text);
    font-variation-settings: "MONO" 1;
    display: inline;
    padding: 6px;

    &.contained {
      font-size: 0.85em;
      background: var(--color-time-contained-bg);
      color: var(--color-time-contained-text);
    }

    &.text {
      time {
        color: var(--color-tertiary);
      }
    }

    &.adorned {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }
</style>
