---
import Fields from "@/components/Fields.astro";
import Tags from "@/components/Tags.astro";
import wasm from "/node_modules/md4w/js/md4w-small.wasm?url";
---

<tt-view $submit="onSubmit"
  ><md-context href={wasm}><slot /></md-context></tt-view
>

<template id="tt-article-template">
  <h2 id="title"></h2>
  <Fields>
    <Tags data={["tag"]} />
  </Fields>
  <md-content></md-content>
</template>

<style>
  tt-view {
    position: relative;
    display: block;
    overflow: hidden;
    isolation: isolate;
  }
</style>

<script>
  import "@/webcomponents/TooltipsView";
  import "@/webcomponents/MarkdownContext";
  import "@/webcomponents/MarkdownContent";
</script>
