@import url("/styles/reset.css") layer(reset);

@layer reset, base, typography, theme, components, utilities;

:root {
  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --wght: "wght" 400;
  --slnt: "slnt" 0;
  --CRSV: "CRSV" 0.5;

  --gap: clamp(1rem, 1vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(65ch, 100% - var(--gap) * 2);
  --pad: 3rem;

  --grid-row-nav: min-content;

  --h1-base: 3.5rem;
  --h2-base: 2rem;
  --h3-base: 1.1rem;
  --h4-base: 1.333rem;
  --p: 1.25rem;
  --font-size-fluid: 3cqi;

  --radius: 6px;

  --p-margin: 1.5rem;

  --button-outline-offset: 2px;

  --link-hover-decoration: dashed;
  --link-hover-decoration-thickness: 8%;

  color-scheme: dark light;

  background-color: var(--color-background);
  color: var(--color-text);

  scroll-behavior: smooth;
  scrollbar-color: var(--color-primary) var(--color-background);
  scrollbar-width: thin;
}

@layer typography {
  body {
    font-family: "Recursive", sans-serif;
    font-size: 1rem;
    line-height: 1.75;
  }

  p,
  ol,
  ul {
    font-variation-settings: "CASL" 1;
    font-size: var(--p);
    margin-block: var(--p-margin, 1.5rem);
  }

  li {
    margin-block: 0.75rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    margin-block: 3rem var(--p-margin, 1.5rem);
    line-height: 1.1;

    color: var(--color-title);
  }

  h1 {
    font-weight: 700;
    --font-size-base: var(--h1-base);
  }

  h2 {
    --font-size-base: var(--h2-base);
  }

  h3 {
    --font-size-base: var(--h3-base);
  }

  h4 {
    --font-size-base: var(--h4-base);
  }

  @supports (font-size: 1cqi) {
    :is(h1, h2, h3, h4) {
      font-size: calc(var(--font-size-base) + var(--font-size-fluid, 3cqi));
    }
  }
}

@layer components {
  img {
    border-radius: var(--radius);
    border: 2px solid var(--color-summary-border);

    &:hover {
      border: 2px solid var(--color-hover-summary-border);
    }
  }

  details {
    --_padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-summary-bg);
    padding: var(--_padding);
    margin: 1em 0;
    border-radius: var(--radius);
    overflow: hidden;
    border: 2px solid var(--color-summary-border);

    summary {
      display: list-item;
      background-color: var(--color-summary-bg);
      cursor: pointer;
      font-size: 1.25rem;
    }

    p {
      margin-block: 8px 0;
      background-color: var(--color-summary-bg);
    }

    &:hover {
      border: 2px solid var(--color-hover-summary-border);
    }
  }

  h1 {
    position: relative;
    line-height: 110%;
    &:after {
      --_colums: 3;
      --_dot-size: 5px;
      --_dot-space: 2px;
      --_edge-end: calc(var(--_dot-size) + 1px);
      --_gardient-end: calc(var(--_edge-end) + var(--_dot-space));
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(var(--_gardient-end) * var(--_colums) - var(--_dot-space));

      background: repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent var(--_dot-size),
          var(--color-background) var(--_edge-end),
          var(--color-background) var(--_gardient-end)
        ),
        repeating-linear-gradient(
          180deg,
          var(--color-title) 0,
          var(--color-title) var(--_dot-size),
          transparent var(--_edge-end),
          transparent var(--_gardient-end)
        ),
        var(--color-background);
      margin-bottom: 4px;
    }
  }
}

@layer base {
  body {
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [content-start] var(--content) [content-end]
      var(--full) [full-end];
    grid-template-rows: var(--grid-row-nav) 1fr;
  }

  a {
    text-decoration: none;
    color: var(--color-link-text);

    &:hover {
      text-decoration: underline;
      text-decoration-style: var(--link-hover-decoration);
      text-decoration-thickness: var(--link-hover-decoration-thickness);
    }
  }

  ul {
    padding-left: 1em;

    li {
      list-style-type: square;
      &::marker {
        color: var(--color-primary);
      }
    }
  }
}

@layer theme {
  @layer light, dark;

  @layer light {
  }
}

@media (prefers-color-scheme: dark) {
  @layer theme.dark {
    :root {
      --color-yellow-0: #ffe260;
      --color-yellow-1: #ffdb37;
      --color-yellow-2: #ffd100;
      --color-yellow-3: #c29f00;
      --color-yellow-4: #947900;

      --color-pink-0: #d34faf;
      --color-pink-1: #c52b9b;
      --color-pink-2: #be008a;
      --color-pink-3: #910069;
      --color-pink-4: #6e0050;

      --color-teal-0: #49aebc;
      --color-teal-1: #2697a7;
      --color-teal-2: #03899c;
      --color-teal-3: #026877;
      --color-teal-4: #01505a;

      --color-gray-0: #ebedff;
      --color-gray-1: #c5c6d3;

      --color-blue-2: #0e304c;
      --color-blue-3: #031c31;
      --color-blue-4: #01101c;

      --color-text: var(--color-gray-1);
      --color-title: var(--color-gray-0);
      --color-background: var(--color-blue-4);

      --color-button-secondary-text: var(--color-blue-4);
      --color-button-secondary-bg: var(--color-yellow-0);

      --color-link-secondary-text: var(--color-yellow-0);

      --color-link-text: var(--color-yellow-0);
      --color-link-shadow: var(--color-pink-2);

      --color-primary: var(--color-yellow-2);
      --color-secondary: var(--color-pink-2);
      --color-tertiary: var(--color-teal-2);
      --color-accent: hsl(241, 80%, 48%);

      --color-footer-divider: var(--color-pink-2);

      --color-summary-bg: var(--color-blue-3);
      --color-summary-border: var(--color-teal-3);
      --color-hover-summary-border: var(--color-teal-2);

      --color-logo: var(--color-pink-2);
    }
  }
}
