---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Károly Török portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
<style is:global></style>
